.bstreeview {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  padding: 0;
  overflow: hidden;
}

.bstreeview .list-group {
  margin-bottom: 0;
  margin-left: 5px;
}

.bstreeview .list-group-item {
  border-radius: 0;
  border-width: 0 0 0 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  margin-left: 2px;
}

.bstreeview .list-group-item:hover {
  color: rgb(var(--color-primary-rgb));
}
.bstreeview .list-group-item.active {
  color: rgb(var(--color-primary-rgb));
}

.bstreeview > .list-group-item:first-child {
  border-top-width: 0;
}

.bstreeview .state-icon {
  margin-right: 8px;
  width: 12px;
  text-align: center;
}
.bstreeview .item-icon {
  margin-right: 5px;
}
