@mixin inputStyle {
  // font-size: 14px;
  // padding: 0px 15px;
  // height: 42px;
  // border-radius: 6px;
  // border: 1px solid rgb(var(--border-color-rgb));
}
@mixin btnStyle {
  // font-size: 14px;
  // padding: 0px 15px;
  // height: 42px;
  // border-radius: 6px;
  // border: 1px solid rgb(var(--border-color-rgb));
}
// ---------------
// ==========bootstrap classes start==========
// ==========bootstrap classes start==========
.invalid-tooltip {
  position: absolute;
  padding: 0rem 0rem;
  margin-top: 0rem;
  font-size: 0.8rem;
  color: var(--bs-danger);
  background-color: transparent;
}
.statusBadge {
  border-radius: 0px;
  display: block;
  padding: 0.6rem 0.5rem;
  font-size: 13px;
  font-weight: 400;
  color: rgb(var(--color-white-rgb));
}
// ==========bootstrap classes end==========
// ==========bootstrap classes end==========
// =======================
.btn-primary {
  background-image: -webkit-linear-gradient(
    -40deg,
    rgb(var(--color-primary-rgb)) 60%,
    rgb(var(--color-primary-rgb))
  );
  color: rgb(var(--color-white-rgb));
  &:hover {
    background: rgba(var(--color-primary-rgb), 0.9);
  }
  border-color: transparent !important;
}
.border-left {
  border-left: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
}
.border-right {
  border-right: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
}
